global
  log stdout format raw local0

defaults
  mode http
  log global
  option httplog
  timeout connect 5s
  timeout client 30s
  timeout server 30s

resolvers docker
  nameserver dns 127.0.0.11:53
  accepted_payload_size 8192
  hold valid 5s

frontend status_http
  bind *:8080
  default_backend statusservers

backend statusservers
  balance roundrobin
  server-template statusserver 20 statusserver:8080 check resolvers docker resolve-prefer ipv4 init-addr none

frontend stats
  bind *:8404
  stats enable
  stats uri /
